# AutoDock-GPU specific files
initpop.txt
*.dlg
*.xml
input/albumin_dock/
ocladock.wiki/
bin/
host/inc/stringify.h
final_population_run*
device/stringify_tmp
KernelProgramBuildInfo.txt

# ===================
# C gitignore
# https://github.com/github/gitignore/blob/master/C.gitignore
# ===================
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Commented to add binaries
# Executables
#*.exe
#*.out
#*.app
#*.i*86
#*.x86_64
#*.hex

# Debug files
*.dSYM/
*.su

# ===================
# C++ gitignore
# https://github.com/github/gitignore/blob/master/C%2B%2B.gitignore
# ===================

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Commented to add binaries
# Executables
#*.exe
#*.out
#*.app
